﻿
@{
    ViewBag.Title = "About us";

    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<h2>This is About US</h2>

@section CustomAds{
    <h1>Custom About Ad</h1>
}

<h2>This is again About US</h2>

