﻿
@{
    ViewBag.Title = "Contact us";

    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}
<form action="@ViewBag.action" method="@ViewBag.method">
    <h2>Contact us here</h2>
    <h4>Enter your detail with query</h4>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td><label for="Name" style="margin-left: 10px;">Name </label></td>
                <td>
                    <input style="margin-left: 10px; width:" type="text" class="form-control" id="Name" name="Name" />
                </td>
            </tr>

            <tr>
                <td><label for="email" style="margin-left: 10px;">Email </label></td>
                <td>
                    <input style="margin-left: 10px;" type="email" class="form-control" id="email" name="email" />
                </td>
            </tr>

            <tr>
                <td><label for="Phone" style="margin-left: 10px;">Phone </label></td>
                <td>
                    <input style="margin-left: 10px;" type="text" class="form-control" id="Phone" name="Phone" />
                </td>
            </tr>

            <tr>
                <td><label for="Query" style="margin-left: 10px;">Query </label></td>
                <td>
                    <textarea style="margin-left: 10px;" class="form-control" id="Query" name="Query"></textarea>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" style="margin-left: 10px; width:200px" class="btn btn-info" id="btnContact" name="btnContact" value="Submit Query" />
                </td>
            </tr>
        </table>
    </div>

    <p style="text-align:center; color:red">
        @ViewBag.message
    </p>
</form>