﻿@model DemoMVC.Models.Emp

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainMasterLayOut.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Emp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.No, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No, "", new { @class = "text-danger" })
                <p id="msg" class="text-danger">

                </p>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    var NoBox = document.getElementById("No");

    NoBox.onblur = function () {
        debugger;
        var NoData = NoBox.value;
        $.ajax({

            url: "/Sample/Validate/" + NoData,
            type: "GET",
            contentType: "application/json",
            success: function (result) {

                if (result == 0) {
                    $("#msg").css('background-color', 'green  ');
                    $("#msg").css('color', 'white  ');
                    $("#msg").html("No is available!!");
                }
                else {
                    $("#msg").css('background-color', 'red  ');
                    $("#msg").css('color', 'white  ');
                    $("#msg").html("No is taken!!");

                }
            },
            error: function (err) {
                debugger;
            }

        });

    }
</script>