﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Edit</title>
</head>
<body>
    <form action="/Test/Edit" method="post" role="form">
        <h2>@ViewBag.message</h2>
        <h2> Edit @Model.Name  Records</h2>
        <div class="form-group">
            <label for="Id">Id </label>
            <input type="text" class="form-control" id="Id" name="Id" value="@Model.Id" />
        </div>
        <div class="form-group">
            <label for="Name">Name </label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label for="Address">Address </label>
            <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address" />
        </div>

        <button  type="submit"  class="btn btn-info">Update</button>

    </form>
</body>
</html>
