﻿@model DemoMVC.Models.Emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   Id: @Html.TextBox("Id") </br>
   Name: @Html.TextBox("Name") </br>
   Address: @Html.TextBox("Address") </br>
</body>
</html>
