﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>Show</title>
</head>
<body>
    <a href="/Test/Create" class="btn btn-success">Add Emp</a>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>NO</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.Name</td>
                    <td>@emp.Address</td>
                    <td>
                        <a href="/Test/Edit/@emp.Id" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href="/Test/Delete/@emp.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
