﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <link rel="icon" href="/favicon.ico">
    <link rel="canonical" href="https://mysite.com/mypage">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
   
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--tips: to change the nav placement use .fixed-top,.fixed-bottom,.sticky-top -->
            <a class="navbar-brand" href="/Home/Index">Home</a>
            <!-- <a class="navbar-brand" href="#">
          <img src="..." class="d-inline-block align-top" width="30" height="30" alt="...">
          My Brand</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/About">About Us <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        Welcome @ViewBag.Username
                        @if (ViewBag.Username != "")
                        {
                            <a class="nav-link" href="/Login/SignOut">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Login/SignIn">Logout</a>
                        }
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

                <span class="navbar-text">
                    Some text
                </span>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-2" style="border: 1px solid black; height:100vh; text-align: center;">
                    <br><br>    <br><br>
                    <a href="#">Menu 1</a><br><br><br>
                    <a href="#">Menu 2</a><br><br><br>
                    <a href="#">Menu 3</a><br><br><br>
                    <a href="#">Menu 4</a><br><br><br>
                    <a href="#">Menu 5</a><br><br><br>
                    <a href="#">Menu 6</a><br><br><br>
                </div>
                <div class="col-md-8" style="border: 1px  solid black; height:100vh; text-align: center">
                    @RenderBody()
                </div>
                <div class="col-md-2" style="border: 1px solid black; height:100vh; text-align: center">

                    @RenderSection("CustomAds", false)

                    <br><br><br><br><br><br><br><br>
                    <aside>
                        Ads / News
                    </aside>
                </div>
            </div>
        </div>

       @* <footer style="width: 100%; height: 50px; background-color: green;  position: absolute; bottom:0; ">
            <p style="text-align: center;color: white;">
                This is Footer
            </p>
        </footer>*@

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    
  </body>
</html>