﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/MainMasterLayout.cshtml";
}

<form action="/Home/Create" method="post" role="form">
    <h2>  Add Record</h2>
    <div class="form-group">
        <label for="Id">Id </label>
        <input type="text" class="form-control" id="Id" name="Id" />
    </div>
    <div class="form-group">
        <label for="Name">Name </label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="Address">Address </label>
        <input type="text" class="form-control" id="Address" name="Address" />
    </div>

    <button type="submit" class="btn btn-info">Save</button>
    <a href="/Home/Show" class="btn btn-danger">Cancel</a>

</form>

