﻿
@{

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <form action="/Login/SignIn" method="post">
        <table class="table table-hover">
            <tr>
                <td>Username</td>
                <td>
                    <input type="text" name="username" />
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    <input type="text" name="password" />
                </td>
            </tr>
            <tr>

                <td>
                    <input type="submit" name="btn" value="Sign In" />
                </td>
            </tr>
        </table>
      @*  <p style="color:red">
            @ViewBag.errorMsg
        </p>*@
    </form>
</body>
</html>
